<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta
      content="Mashup templates have been developped by Orson.io team"
      name="author"
    />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='assets/favicon.ico') }}"
    />
    <link href="./static/assets/favicon.ico" rel="icon" />

    <title>Zini Zhu Portfolio</title>

    <link href="./static/main.d8e0d294.css" rel="stylesheet" />
  </head>

  <body class="" style="background-image: linear-gradient(180deg,#FDB927 ,#552583);">
    <!-- Add your content of header -->
    <div
      class="background-color-layer"
      style="background-image: url('./static/assets/images/abstract.jpg'); "
    ></div>
    <main class="content-wrapper">
      <header class="white-text-container section-container">
        <div class="text-center">
          <h1>I am Zini Zhu</h1>
          <h3>Software Developer</h3>
          <p>
            <a
              class="fa-icon fa-icon-2x"
              href="https://www.linkedin.com/in/zinizhu0825/"
              title=""
            >
              <i class="fa fa-linkedin"></i>
            </a>
            <a
              class="fa-icon fa-icon-2x"
              href="https://github.com/zinizhu"
              title=""
            >
              <i class="fa fa-github"></i>
            </a>
            <a
              class="fa-icon fa-icon-2x"
              href="mailto:zinizhu0825@gmail.com"
              title=""
            >
              <i class="fa fa-google"></i>
            </a>
          </p>
        </div>
      </header>

      <!-- Add your site or app content here -->

      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <!-- About Me -->
            <div class="card">
              <div class="card-block">
                <h2>About me</h2>
                <div class="row">
                  <div class="col-md-6">
                    <p>
                      <img
                        src="./static/assets/images/selfy-2.jpg"
                        class="img-responsive"
                        alt=""
                      />
                    </p>
                  </div>
                  <div class="col-md-6" style="padding-left: 60px;">
                    <h3>A Developer.</h3>
                    <h3>A Self-motivator.</h3>
                    <h3>A Competitor.</h3>
                    <h3>A Collaborator.</h3>
                    <h3>A Learner.</h3>
                    <h3>An Innovator.</h3>
                  </div>
                </div>
              </div>
            </div>

            <!-- Experience -->
            <div class="card">
              <div class="card-block">
                <h2>Experience</h2>
                <div class="work-experience">
                  <small class="date">2020 Summer</small>
                  <h3 class="h5 date-title">
                    Software Engineer Intern -
                    <a href="http://zillow.com">Zillow Group</a> (App
                    Infrastructure)
                  </h3>
                  <p>
                      Led the whole development cycle of a Kubernetes network policy tester, including design, implementation, testing, deployment and validation. Improved CI/CD pipeline templates to enable automated deployment to test clusters, which has been adopted by all ITX teams and related services.
                  </p>
                </div>

                <div class="work-experience">
                  <small class="date">2019 Summer</small>
                  <h3 class="h5 date-title">
                    Software Engineer Intern -
                    <a href="http://zillow.com">Zillow Group</a> (Renter Hub
                    Team)
                  </h3>
                  <p>
                    Completed two survey email campaigns to collect lease details and customers’ renting feedback. Implementing REST APIs and created email templates and survey landing pages for multiple brands. The system is capable of handling 400K emails per day.
                  </p>
                </div>

                <div class="work-experience">
                  <small class="date">2018 - Present</small>
                  <h3 class="h5 date-title">
                    Teaching Assistant & CS Tutor - University of San Francisco
                  </h3>
                  <p>
                    Performed regular 1:1 code reviews with students on projects in Object Oriented Programming class. Holded Weekly labs and graded lab assignments. Provide tutoring for graduates and undergraduates from different CS classes.
                  </p>
                </div>
              </div>
            </div>


            <!-- Education -->
            <div class="card">
              <div class="card-block">
                <h2>Education</h2>
                <div class="row">
                  <div class="col-md-4">
                    <div class="education-experience">
                      <small class="date">2018-Present</small>
                      <h3 class="h5 date-title">Computer Science</h3>
                      <p>University of San Francisco</p>
                      <p>Master of Science</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="education-experience">
                      <small class="date">2014-2018</small>
                      <h3 class="h5 date-title">
                        Materials Science and Engineering
                      </h3>
                      <p>Shanghai Jiao Tong University</p>
                      <p>Bachelor of Science</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="education-experience">
                      <small class="date">2017-2018</small>
                      <h3 class="h5 date-title">
                        Materials Science and Engineering
                      </h3>
                      <p>University of California, Berkeley</p>
                      <p>Exchange</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Projects -->
            <div class="card">
              <div class="card-block">
                <h2>Projects</h2>
                <div class="row">

                  <div class="col-md-4">
                    <img
                      src="./static/assets/images/proj-kubernetes.png"
                      class="img-responsive"
                      alt=""
                    />
                    <h4 class="h5">K8s Network Policy Tester</h4>
                    <p>Interact with K8s clusters and test K8s network policies via Golang SDK and client-go.</p>
                  </div>
                 
                  <div class="col-md-4">
                    <img
                      src="./static/assets/images/proj-water.jpg"
                      class="img-responsive"
                      alt=""
                    />
                    <h4 class="h5">California Water Data Challenge</h3>
                    <p>Empower community residents with integrated water quality information platform and two-way data communication.</p>
                  </div>

                  <div class="col-md-4">
                    <img
                      src="./static/assets/images/proj-tilt.jpeg"
                      class="img-responsive"
                      alt=""
                    />
                    <h4 class="h5">Local CI/CD pipelines Generator</h4>
                    <p>Automatically build and run CI/CD pipelines using Tilt in local development environment.</p>
                  </div>
                </div>

                <br />

                <div class="row">
                  <div class="col-md-4">
                    <img
                      src="./static/assets/images/proj-bidlog.png"
                      class="img-responsive"
                      alt=""
                    />
                    <h4 class="h5">Future In-app Purchase Prediction</h4>
                    <p>Predict potential in-app purchases by processing millions of bid logs with Apache Beam, Google Dataflow and BigQuery.</p>
                  </div>
                  <div class="col-md-4">
                    <img
                      src="./static/assets/images/proj-yelp.png"
                      class="img-responsive"
                      alt=""
                    />
                    <h4 class="h5">Yelp Dataset Analysis & Visualization</h4>
                    <p>Comprehensive analysis on Yelp's open dataset with Google BigQuery and Data Studio.</p>
                  </div>
                  <div class="col-md-4">
                    <img
                      src="./static/assets/images/proj-trip.png"
                      class="img-responsive"
                      alt=""
                    />
                    <h3 class="h5">"Trip Advisor"</h3>
                    <p>Tourist attractions exploration web application with Java, JS and MySQL.</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Skills -->
            <div class="card">
              <div class="card-block">
                <h2>Skills</h2>
                <div class="row">
                  <div class="col-md-4">
                    <p class="social-buttons" style="color: black">
                      <b>Java</b>
                    </p>
                  </div>
                  <div class="col-md-10">
                    <p class="social-buttons">
                      Skilled in programming with Java. Have much experience in developing java applications with different frameworks and libraries, including Spring MVC, Spring Boot, Spring Security, Jetty, Jsp. Use maven for dependency management.
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <p class="social-buttons" style="color: black">
                      <b>Python</b>
                    </p>
                  </div>
                  <div class="col-md-10">
                    <p class="social-buttons">
                      Familiar with Python. Build web applications with Flask and FastAPI. Work on various AI-related projects using sk-learn, numpy and pandas. Implement CI/CD pipelines with Python and shell-scripting.
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <p class="social-buttons" style="color: black">
                      <b>JavaScript</b>
                    </p>
                  </div>
                  <div class="col-md-10">
                    <p class="social-buttons">
                      Experienced in implementing dynamic webpages using React.js Framework. Familiar with Node.js Express framework.
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <p class="social-buttons" style="color: black">
                      <b>Golang</b>
                    </p>
                  </div>
                  <div class="col-md-10">
                    <p class="social-buttons">
                      Familiar with Golang. Build backend APIs with go-gin framework. Implement client to interact with Kubernetes clusters.
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <p class="social-buttons" style="color: black">
                      <b>Other Technologies</b>
                    </p>
                  </div>
                  <div class="col-md-10">
                    <p class="social-buttons">
                      GCP, AWS, Kubernetes, Docker
                    </p>
                  </div>
                </div>
              </div>


            </div>


            <!-- Activities -->
            <div class="card">
              <div class="card-block">
                <h2>Activities</h2>
                <div class="row">
                  <div class="col-md-4">
                    <img
                      src="./static/assets/images/activity-ghc.jpg"
                      class="img-responsive"
                      alt=""
                    />
                    <h3 class="h5">Grace Hopper Conference</h3>
                    <p>2019 & 2020<br />Attendee</p>
                  </div>
                  <div class="col-md-4">
                    <img
                      src="./static/assets/images/activity-hackweek.jpg"
                      class="img-responsive"
                      alt=""
                    />
                    <h3 class="h5">Zillow Group Innovation Week</h3>
                    <p>2019 & 2020<br />Winner</p>
                  </div>
                  <div class="col-md-4">
                    <img
                      src="./static/assets/images/activity-cs.png"
                      class="img-responsive"
                      alt=""f
                    />
                    <h3 class="h5">USF CS Department Coding Contest</h3>
                    <p>2019<br />Top 4</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>




    <footer class="footer-container white-text-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p><img src="./static/assets/images/mashup-icon.svg" alt="" /></p>

            <p>
              ©All right reserved. Design
              <a
                href="http://www.mashup-template.com/"
                title="Create website with free html template"
                >Mashup Template</a
              >/<a href="https://unsplash.com/" title="Beautiful Free Images"
                >Unsplash</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener('DOMContentLoaded', function (event) {
        scrollRevelation('.card')
      })
    </script>
    <script type="text/javascript" src="./static/main.bc58148c.js"></script>
  </body>
</html>
